name: Test CLI

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  deptest:
    name: DepTest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        version: [ 1.2.2, 1.9.0, 1.9.1, 1.9.2, 1.9.5, 1.9.6, 1.9.7, 1.9.8, 1.9.35, 1.9.39, 1.9.40-1-beta, 1.9.55, 1.9.56, 1.9.63 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup gh
        uses: ./
        with:
          version: ${{ matrix.version }}

      - name: Test CLI
        run: |-
          fianu
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest-large, macos-13, macos-14 ]
        version: [ 1.3.0, 1.9.11, 1.9.35, 1.9.39, 1.9.40-1-beta, 1.9.55, 1.9.56 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup gh
        uses: ./
        with:
          version: ${{ matrix.version }}

      - name: Test CLI
        if: ${{ matrix.os != 'windows-latest' }}
        run: |-
          uname -s | tr '[:upper:]' '[:lower:]'
          fianu

      - name: Test CLI Windows
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        env:
          FIANU_CLIENT_ID: ${{ secrets.FIANU_CLIENT_ID }}
          FIANU_CLIENT_SECRET: ${{ secrets.FIANU_CLIENT_SECRET }}
          FIANU_HOST: ${{ secrets.FIANU_HOST }}
        run: |-
          uname -s | tr '[:upper:]' '[:lower:]'
          fianu
